<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="shortcut icon" href="image/logo.png" type="image/x-icon" />
    <title>Kullanıcı Giriş-DTBOP</title>
  </head>
  <body>
    <div class="container">
      <div class="forms">
        <div class="form login">
          <span class="title">Giriş</span>
          <% if (alert) { %> <%- alert %> <% } %>

          <form action="/account/login" , method="post">
            <div class="input-field">
              <input
                type="text"
                placeholder="Mail adresinizi giriniz"
                name="mail"
                required
              />
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                class="password"
                placeholder="Şifrenizi giriniz"
                name="password"
                required
              />
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>

            <div class="input-field button">
              <input type="submit" formmethod="post" value="Giriş Yap" />
            </div>
          </form>

          <div class="checkbox-text">
            <div class="checkbox-content">
              <input type="checkbox" id="logCheck" />
              <label for="logCheck" class="text">Beni hatırla</label>
            </div>

            <a href="#" class="text">Şifremi unuttum</a>
          </div>

          <div class="login-signup">
            <span class="text"
              >Üye değil misiniz?
              <a href="#" class="text signup-link">Şimdi Üye Ol</a>
            </span>
          </div>
        </div>

        <div class="form signup">
          <span class="title">Hesap Oluştur</span>

          <form action="/account/create", method="post">
            <div class="input-field">
              <input type="text" name="username" placeholder="Adınızı giriniz" required />
              <i class="uil uil-user"></i>
            </div>
            <div class="input-field">
              <input
                type="text"
                placeholder="Mail adresinizi giriniz"
                name="mail"
                required
              />
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                class="password"
                placeholder="Şifrenizi oluşturun"
                required
              />
              <i class="uil uil-lock icon"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                class="password"
                name="password"
                placeholder="Şifrenizi onaylayın"
                required
              />
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>

            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="sigCheck" />
                <label for="sigCheck" class="text">Beni hatırla</label>
              </div>
            </div>

            <div class="input-field button">
                <input type="submit" value="Kayıt ol" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/script/login.js"></script>
  </body>
</html>
